canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.credits {
    color: white;
    position: fixed;
    top: 5em;
    left: 1em;
    z-index: 2;
    cursor: pointer;
    background: rgba(33,31,34,0.75);
    padding-right: 0.5em;
    padding-left: 1.5em;
    padding-top: 0.25em;
}

.options {
    text-align: center;
    color: white;
    position: fixed;
    top: 5em;
    left: 1em;
    z-index: 2;
    background: rgba(33,31,34,0.75);
    padding-right: 0.5em;
    padding-left: 1.5em;
    padding-top: 0.25em;
    min-width: 20em;
}

.options h3 {
    text-decoration: underline;
}

.options li {
    padding-bottom: 0.25em;
}

.options img {
    padding-right: 1em;
    padding-bottom: 1em;
}

.disabled {
    filter: brightness(0.4);
    cursor: pointer;
}

.enabled {
    cursor: default;
    font-weight: bold;
}

.credits a {
    color: white;
}