<audio #bgm loop crossorigin="anonymous">
    <source [src]="currentSong.source" type="audio/mpeg">
</audio>
<br />
<button (click)="toggleAudio()" title="Toggle Audio"><img [src]="audioIcon"></button>
<button (click)="toggleOptions()" title="Options"><img src="/assets/options.png"></button>
<button (click)="toggleAbout()" title="About"><img src="/assets/about.png"></button>

<div (click)="toggleAbout()" class="credits" [hidden]="!aboutVisible">
   <li *ngFor="let credit of about.roles">
       <span><b>{{ credit.role }}: </b></span>
       <span><a href="{{ credit.link }} ">{{ credit.handle }}</a></span>
   </li>
   <p>{{ about.copyright }}</p>
</div>

<div class="options" [hidden]="!optionsVisible">
    <h3>Songs</h3>
    <!-- TODO: Change it to have Act 1/2 options and port options (Genesis, PC, Prototype, Origins)-->
    <li (click)="setSong(song)" *ngFor="let song of songOptions" [class]="song.class" [title]="song.title">
        {{ song.title }}
    </li>
    <h3>STARS</h3>
    <img [src]="character.icon" (click)="setCharacter(character)" *ngFor="let character of characterOptions" [class]="character.class" [title]="character.name">
</div>

<canvas #sceneCanvas></canvas>
<app-animated-sprite #characterSprite [normalGraphic]="currentCharacter.graphic" [superGraphic]="currentCharacter.superGraphic" [frames]="12" [frameRate]="12" [superShader]="currentCharacter.superShader"></app-animated-sprite>
<app-animated-sprite #barrelSprite normalGraphic="assets/barrel.png" [frames]="4" [frameRate]="15"></app-animated-sprite>
<!-- TODO: Google analytics visit tracker -->