/*https://developer.mozilla.org/en-US/docs/Games/Techniques/Crisp_pixel_art_look*/
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}